
<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Contacts App</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/" class="nav-link">Home</a>
      </li>
      <!-- <li class="nav-item">
        <a routerLink="View" class="nav-link">View</a>
      </li> -->
    </div>
  </nav>

  <div class="container mt-3">
   <alert></alert>  
    <router-outlet></router-outlet>
  </div>
</div>

