<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by Id, FirstName, LastName or Email"
          [(ngModel)]="searchText"
          (input)="Search($event)"
        />
      </div>
    </div>
<div class="col-md-12">
      <h4>Contact List</h4>

      <!-- <a routerLink="/add" class="btn btn-sm btn-success mb-2">Add New</a> -->
      <button class="btn btn-sm btn-success mb-2" (click)="Add()">Add New</button>
      <div class="card m-3">
       
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th><a (click)="sortBy('id')" style="cursor: pointer;">Id {{sortIcon('id')}}</a></th>
                        <th><a (click)="sortBy('firstName')" style="cursor: pointer;">FirstName {{sortIcon('firstName')}}</a></th>
                        <th><a (click)="sortBy('lastName')" style="cursor: pointer;">LastName {{sortIcon('lastName')}}</a></th>
                        <th><a (click)="sortBy('email')" style="cursor: pointer;">Email {{sortIcon('email')}}</a></th>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of pageOfItems">
                        <td>{{item.id}}</td>
                        <td>{{item.firstName}}</td>
                        <td>{{item.lastName}}</td>
                        <td>{{item.email}}</td>
      
                        <td>  <a  class="btn btn-sm btn-success" 
                           
                          (click)="Editcontact(item.id)" 
                         
                          >
                          <i class="fa fa-edit" aria-hidden="true"></i></a></td>
                        <td>  <a  class="btn btn-sm btn-danger" (click)="deletecontact(item.id)" ><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                      </tr>
                    <tr *ngIf="loading">
                        <td colspan="5" class="text-center py-5">
                            <span class="spinner-border spinner-border-lg align-center"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
       
         <div class="card-footer pb-0 pt-3">
            <pagination [items]="items" (changePage)="onChangePage($event)" ></pagination>
        </div> 
    
</div>

  </div>
<modal id="modal-2">
    <div class="modal-header">
        <h5 class="modal-title">{{title}} </h5>
        <button type="button" class="btn-close" (click)="modalService.close();"></button>
    </div>
    <div class="modal-body">
      <div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
              
              
                       <div>
              
                          <div class="form-group"  *ngIf="submitting">
                              <label for="title">ID</label>
                              <input
                                type="text"
                                class="form-control"
                                id="id"
                               
                                formControlName="id"
                                name="id"
                              />
                            </div>
              
                              <div class="form-group was-validated  mb-2" 
                              [ngClass]="{ 'form-group was-validated  mb-2': (contactFormControl.firstName.touched || submitted) &&
                              contactFormControl.firstName.errors?.['required'], 'form-group': !(contactFormControl.firstName.touched || submitted) &&
                              contactFormControl.firstName.errors?.['required'] }"
                              >
                                <label for="title">FirstName </label><span style="color: red;">*</span>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="firstName"
                                  required
                                  formControlName="firstName"
                                  name="firstName"
                                />
              
                                
                              </div>
                              <span
                              class="text-danger"
                              *ngIf="
                                  (contactFormControl.firstName.touched || submitted) &&
                                  contactFormControl.firstName.errors?.['required']"
                            >
                              FirstName is required
                            </span>
                
                        
                              <div  [ngClass]="{ 'form-group was-validated  mb-2': (contactFormControl.lastName.touched || submitted) &&
                              contactFormControl.lastName.errors?.['required'], 'form-group': !(contactFormControl.lastName.touched || submitted) &&
                              contactFormControl.lastName.errors?.['required'] }">
                                <label for="description">LastName</label><span style="color: red;">*</span>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="lastName"
                                  required
                                  formControlName="lastName"
                                  name="lastName"
                                />
              
                                <span
                                class="text-danger"
                                *ngIf="
                                    (contactFormControl.lastName.touched || submitted) &&
                                    contactFormControl.lastName.errors?.['required']"
                              >
                                LastName is required
                              </span>
                        
                                <div [ngClass]="{ 'form-group was-validated  mb-2': (contactFormControl.email.touched || submitted) &&
                                contactFormControl.email.errors?.['required'], 'form-group': !(contactFormControl.email.touched || submitted) &&
                                contactFormControl.email.errors?.['required'] }">
                                    <label for="description">Email</label><span style="color: red;">*</span>
                                    <input
                                      class="form-control"
                                      id="email"
                                      required
                                      formControlName="email"
                                   
                                      name="email"
                                      type="email"
                                      
                                    />
                                    <span
                                class="text-danger"
                                *ngIf="
                                    (contactFormControl.email.touched || submitted) &&
                                    contactFormControl.email.errors?.['required']"
                              >
                              Email is required
                              </span>
                              </div>
                
                            </div>
                            <div class="modal-footer">
                              <button [disabled]="submitting" class="btn btn-primary">
                                  <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                                  {{
                                    buttontext
                                  }}
                              </button>
                             
                          </div>
                          </div>
                 </form> 
               

</div>
    </div>
    
</modal>
  